<mat-card>
    <mat-card-content>
        <form [formGroup]="formGroup" (ngSubmit)="saveUserForm()">
            <h2>NewsLetter Form</h2>
            <mat-form-field class="full-width-input">
                <label>
                    <input matInput placeholder="First Name" formControlName="firstName" required>
                </label>
                <mat-error>
                    Please provide first name
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <label>
                    <input matInput placeholder="Last Name" formControlName="lastName" required>
                </label>
                <mat-error>
                    Please provide last name
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <label>
                    <input matInput placeholder="Email" formControlName="email" required>
                </label>
                <mat-error>
                    Please provide email
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <label>
                    <input matInput placeholder="Address" formControlName="address" required>
                </label>
                <mat-error>
                    Please provide address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-select formControlName="gender" placeholder="Gender">
                    <mat-option *ngFor="let name of enumKeys" [value]="name">
                        {{gender[name]}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    Please provide gender
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <label>
                    <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
                </label>
                <mat-error>
                    Please provide phone number
                </mat-error>
            </mat-form-field>
            <div class="full-width-input">
                <label>
                    <input type="file" (change)="selectFile($event)" placeholder="Image">
                </label>
                <button mat-raised-button color="warn" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
            </div>
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Create</button>
        </form>
    </mat-card-content>
</mat-card>
